version: "3.8"
services:
  ansible-server:
    container_name: ansible-server
    hostname: ansible-server
    build:
      context: .
      dockerfile: ubuntu.Dockerfile
    volumes:
      - ../playbooks:/root/playground/playbooks
      - ../vars:/root/playground/vars
      - ../roles:/root/playground/roles
      - ../hosts:/root/playground/hosts
      - ../config/ansible.cfg:/root/.ansible.cfg
      - ../config/bashrc:/root/.bashrc
      - ../deploy:/root/playground/deploy
      - ../vault.yml:/root/playground/vault.yml
      - ../.vault_password:/root/playground/.vault_password
    networks:
      - ansible

  slave1:
    cap_add:
      - NET_ADMIN
    container_name: slave1
    hostname: slave1
    build: 
      context: .
      dockerfile: ubuntu.Dockerfile
    networks: 
      - ansible

  slave2:
    cap_add:
      - NET_ADMIN
    container_name: slave2
    hostname: slave2
    build:
      context: .
      dockerfile: ubuntu-2204.Dockerfile
    networks:
      - ansible

networks:
  ansible:
    driver: bridge
    

