---
- name: create users
  become: yes
  user:
    name: "{{ item.value.username }}"
    password: "{{ item.value.userpass | password_hash('sha512') }}"
    state: present
    shell: /bin/bash
    createhome: yes
    home: "/home/{{ item.value.username }}"
  with_dict: "{{ users }}"
  tags: ['add_user']
  register: 'add_user'

- name: modify user passwords
  become: yes
  user:
    name: "{{ item.value.username }}"
    password: "{{ item.value.userpass | password_hash('sha512') }}"
  with_dict: "{{ users }}"
  tags: ['modify_user_pass']
  register: 'modify_user_pass'

- name: Confirm to delete users 
  pause:
    prompt: Are you sure want to delete all users from config? (press enter to continue OR ctrl + c then a, to abort)
  tags: ['delete_user']

# NOTE backup user home dir before deleting user
- name: create backup user home dir files
  become: yes
  file:
    path: "/home/users-backup/{{ item.value.username }}"
    state: directory  
    owner: "{{ item.value.username }}"
    group: "{{ item.value.username }}"
  with_dict: "{{ users }}"
  register: 'create_home_dir_bak'
  tags: ['delete_user', 'create_home_dir_bak']

- name: backup user home dir files
  become: yes
  shell: cp -rpv /home/{{ item.value.username }} /home/users-backup/
  with_dict: "{{ users }}"
  register: 'copy_home_dir_bak'
  tags: ['delete_user', 'copy_home_dir_bak']

- name: delete users
  become: yes
  user:
    name: "{{ item.value.username }}"
    state: absent
    remove: yes
    force: yes
  with_dict: "{{ users }}"
  tags: ['delete_user']
  register: 'delete_user'

- name: checking for available user sudoers command
  become: yes
  shell: cat /etc/sudoers | grep -c "%{{ item.value.username }}"
  ignore_errors: yes
  loop: "{{ users | dict2items }}"
  register: 'check_sudoers_line'
  tags: ['add_admin_cmd']

- name: replace line to grant users to execute selected administrative commands
  become: yes
  lineinfile:
    regexp: '^%{{ item.item.value.username }}.*'
    line: "{{ lookup('template', 'add_admin_cmd.j2') }}"
    path: "/etc/sudoers"
  tags: ['add_admin_cmd']
  register: 'add_admin_cmd'
  when: item.stdout == '1'
  loop: "{{ check_sudoers_line.results }}"
  vars:
    user_key: "{{ item.item.key }}"
    user_data: "{{ item.item.value }}"

- name: add line to grant users to execute selected administrative commands
  become: yes
  lineinfile:
    line: "{{ lookup('template', 'add_admin_cmd.j2') }}"
    path: "/etc/sudoers"
  tags: ['add_admin_cmd']
  register: 'add_admin_cmd'
  when: item.stdout == '0'
  loop: "{{ check_sudoers_line.results }}"
  vars:
    user_key: "{{ item.item.key }}"
    user_data: "{{ item.item.value }}"

- name: sudoers syntax check
  become: yes
  shell: visudo -c
  tags: ['add_admin_cmd']
  register: 'sudoers_syntax_check'

- name: sudoers syntax check
  debug: msg={{ sudoers_syntax_check.stdout_lines }}
  tags: ['add_admin_cmd']

- name: add groups to users
  become: yes
  user:
    name: "{{ item.value.username }}"
    groups:
      - "{{ item.value.usergroup.groupname | join(', ') }}"
    append: no
  tags: ['add_user_to_other_group']
  with_dict: "{{ users }}"
  register: 'add_user_to_other_group'

- name: create directory .ssh for users
  become: yes
  file:
    path: "/home/{{ item.value.username }}/.ssh"
    state: directory  
    owner: "{{ item.value.username }}"
    group: "{{ item.value.username }}"
  with_dict: "{{ users }}"
  register: 'add_ssh_dir'
  tags: ['add_user', 'create_ssh_dir']

- name: create file .ssh/authorized_keys for users
  become: yes
  file:
    path: "/home/{{ item.value.username }}/.ssh/authorized_keys"
    state: touch
    owner: "{{ item.value.username }}"
    group: "{{ item.value.username }}" 
  with_dict: "{{ users }}"
  register: 'add_ssh_dir'
  tags: ['add_user', 'create_ssh_dir']

- name: authorized users ssh pubkey
  become: yes
  lineinfile:
    line: "{{ lookup('template', 'ssh_pubkey.j2') }}"
    path: "/home/{{ item.value.username }}/.ssh/authorized_keys"
  loop: "{{ users | dict2items }}"
  vars:
    user_key: "{{ item.key }}"
    user_data: "{{ item.value }}"
  register: 'add_ssh_pubkey'
  tags: ['add_user', 'add_ssh_pubkey']

# NOTE restore user home dir 
- name: check if backup exists
  become: yes
  stat:
    path: "/home/users-backup/{{ item.value.username }}"
  with_dict: "{{ users }}"
  register: backup_exists
  tags: ['add_user', 'restore_home_dir_bak']

- name: restore user home dir files
  become: yes
  shell: |
    mkdir -p /home/{{ item.item.value.username }}/{{ item.item.value.username }}-backup
    cp -rfpv /home/users-backup/{{ item.item.value.username }} /home/{{ item.item.value.username }}/{{ item.item.value.username }}-backup
  when: item.stat.exists | default(false)
  with_items: "{{ backup_exists.results | default([]) }}"
  ignore_errors: yes
  register: 'restore_home_dir_bak'
  tags: ['add_user', 'restore_home_dir_bak']

# NOTE add new group
- name: add new group
  become: yes
  group:
    name: "{{ item.groupname }}"
    state: present
  with_items:
    - "{{ groups[group_name] }}"
  tags: ['add_new_group']

- name: path to be granted to the group
  become: yes
  file:
    path: "{{ item.grantedpath }}"
    owner: root
    group: "{{ item.groupname }}"
  with_items:
    - "{{ groups[group_name] }}"
  tags: ['add_new_group', 'grant_new_group']

# - name: 
