---
- name: setup user
  hosts: "{{ host_deployment }}"
  user: root

  vars_files:
    - ../vars/{{ user_config_file | default('user_config.yml') }}

  pre_tasks:

    - name: Validate host_target
      pause:
        prompt: please validate the correct host_target (press enter to continue OR ctrl + c then a, to abort)
      tags: 
        - 'add_user'
        - 'add_admin_cmd'
        - 'add_user_to_other_group'
        - 'modify_user_pass'
        - 'delete_user'
        - 'add_new_group'

    - name: Gather userdata
      set_fact:
        gather_users: "{{ item.value.username }}"
        gather_groups: "{{ item.value.usergroup.groupname }}"
        gather_cmd: "{{ item.value.commands.path }}"
        current_user_key: "{{ item.key }}"
        current_user_data: "{{ item.value }}"
      with_dict: "{{ users }}"
      tags:
        - 'gather_userdata'
        - 'add_user'
        - 'add_admin_cmd'
        - 'add_user_to_other_group'
        - 'modify_user_pass'
        - 'delete_user'
        - 'add_new_group'
      when: new_group_name is not defined

    - name: Gather list of groups
      set_fact:
        gather_groupname: "{{ item.groupname }}"
      with_items:
        - "{{ groups[new_group_name] }}"
      tags:
        - 'add_new_group'

    - name: "Check usernames in user config, refer to vars_file"
      debug:
        msg: "{{ item.value.username }}"
      with_dict: "{{ users }}"
      tags:
        - 'gather_userdata'
        - 'add_user'
        - 'add_admin_cmd'
        - 'add_user_to_other_group'
        - 'modify_user_pass'
        - 'delete_user'
        - 'add_new_group'
      register: filter_username
      when: new_group_name is not defined
      
    - name: "Check if usernames already exist on the servers"
      shell: 'getent passwd {{ item.value.username }}'
      with_dict: "{{ users }}"
      tags: ['add_user']
      register: validate_user
      ignore_errors: yes
      when: new_group_name is not defined

    - name: Fail if any user already exists
      fail:
        msg: "User {{ item.item.value.username }} already exists"
      when: 
        - item.rc | int == 0
        - retry is not defined
        - new_group_name is not defined
      with_items: "{{ validate_user.results | default([]) }}"
      tags: ['add_user']

  roles:
    - setup-user

  post_tasks:
      # NOTE modify this
    - name: "Output of creating/modifying users"
      shell: 'getent passwd {{ item.value.username }}'
      with_dict: "{{ users }}"
      tags: ['add_user', 'modify_user_pass']
      register: single_user
    - debug: 
        msg: "{{ item.stdout_lines }}"
      with_items: "{{ single_user.results | default([]) }}"
      tags: ['add_user', 'modify_user_pass']

      # NOTE copy this
    - debug: msg={{ delete_user }}
      tags: ['delete_user']

    - name: "output of granting users to execute selected administrative commands"
      debug: msg={{ add_admin_cmd }}
      tags: ['add_admin_cmd']
    - name: "output of adding/modifying groups to users"
      debug: msg={{ add_user_to_other_group }}
      tags: ['add_user_to_other_group']
    - name: "output of authorizing users"
      debug: msg={{ add_ssh_pubkey }}
      tags: ['add_user', 'add_ssh_pubkey']